.header {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    max-width: 1880px;
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #000000d4;
    border-bottom: 0.5px solid #323232;
    backdrop-filter: blur(5px);
}

.header .logo {
    color: #fff;
    font-size: 1.5rem;
}

.header .logo span {
    color: #ddc53f;
}

.header .menu-desktop ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 5px 10px;
}

.header .menu-desktop ul li a {
    font-size: 1.3rem;
    padding: 5px;
    color: #fff;
    position: relative;
}

.header .menu-desktop ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ddc53f;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.header .menu-desktop ul li a:hover::after {
    width: 100%;
}

/*Menu Mobile*/

.header .overlay-menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6666; /*Valor menor que o do menu mobile*/
    background-color: #000000b6;
}

.header .menu-mobile.open-menu ~ .overlay-menu-mobile {
    display: block;
}

.header .btn-open-menu {
    display: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.header .menu-mobile {
    width: 0%;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 9999;
    transition: 0.5s;
    background-color: #000000d3;
    backdrop-filter: blur(25px);
}

.header .menu-mobile.open-menu {
    width: 70%;
}

.header .menu-mobile .btn-close-menu {
    margin: 17px 20px;
}

.header .menu-mobile .btn-close-menu i {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.header .menu-mobile nav .redes-sociais-menu {
    text-align: center;
}

.header .menu-mobile nav .redes-sociais-menu i {
    display: inline-block;
    font-size: 30px;
    margin: 55px 10px;
    color: #fff;
}

.header .menu-mobile nav ul {
    list-style-type: none;
    text-align: center;
}


.header .menu-mobile ul li a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.header .menu-mobile ul li a:hover {
    font-weight: 500;
    background-color: #ddc53f;
    color: #000;
}