.projects .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}

.projects .project {
    width: 300px;
    height: 500px;
    border: 1px solid #ffffff5a;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.projects .project ::-webkit-scrollbar {
    width: 6px;
    border-radius: 50px;
    background-color: #ababab;
}

.projects .project ::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 50px;
    background-color: #000000b6;
}

.projects .project .section-image {
    width: 100%;
    height: 169px;
    border-bottom: 1px solid #ffffff5a;
    object-fit: cover;
}

.projects .project h3 {
    margin-top: 10px;
}

.projects .project p {
    text-align: justify;
    margin: 10px 10px 10px 20px;
    padding-right: 10px;
    height: 35%;
    overflow-y: scroll;
}


.projects .project footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 5px;
    padding: 25px 20px 10px;
}

.projects .project .btn-project {
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color-primaria);
}

.projects .project footer .social-icons i {
    color: var(--color-primaria);
    font-size: 1.4rem;
    padding: 5px;
}