section.skills .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    color: #fff;
}

section.skills .skill {
    max-width: 400px;
    min-height: 300px;
    padding: 15px;
    text-align: justify;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 2px #ddc53f;
    backdrop-filter: blur(2px);
}

section.skills .skill:hover {
    transform: scale(1.02);
}

section.skills .skill i {
    font-size: 3rem;
    color: #ddc53f;
}

section.skills .skill > h3 {
    font-size: 1.4rem;
    margin: 15px 0;
}

section.skills .soft-skills i,
section.skills .soft-skills h3 {
    text-align: left;
}

section.skills ul {
    text-align: justify;
}

section.skills ul li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

section.skills ul li:hover {
    border-radius: 5px;
    border: 1px solid #ddc53f;
}

@media screen and (max-width: 450px) {
    section.skills .skill > h3,
    section.skills ul {
        text-align: center;
    }
    section.skills .skill i {
        display: block;
        text-align: center;
    }

}