section.modais .modal-window {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #000000f1;
}

section.modais .modal-window.open {
    display: flex;
}

section.modais .modal-window .modal {
    padding: 40px;
    border-radius: 10px;
    color: #000;
    border: 2px solid #000;
    background-color: #fff;
}

section.modais .modal-window .modal {
    position: relative;
}

section.modais .modal-window .modal .btn-close-modal {
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dcd53f;
    cursor: pointer;
}