body {
    height: 100vh;
    color: #fff;
    background: url("../../assets/images/background.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 50px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 50px;
    background-color: #ffffff;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.home,
.skills,
.about,
.projects,
.contact {
    padding: 25px 5%;
}

div.titulos {
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 85px 0 50px;
}
div.titulos > .titulo {
    font-size: 2.5rem;
    font-size: 500;
    text-transform: uppercase;
}
div.titulos > .sub-titulo {
    font-size: 1.5rem;
    font-size: 300;
    text-transform: uppercase;
    color: #ddc53f;
}

